<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBase.Properties.Settings.OutinConnectionString"
            connectionString="Data Source=ADOLFOROJAS\SQLEXPRESS;Initial Catalog=Outin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>