*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;

}

header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#252932;
	margin-bottom:20px;
	position: fixed;
}
 
.wrapper {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}
 
header .logo  img{
	width: 170px;
	color:#f2f2f2;
	font-size:50px;
	line-height:200px;
	float:left;
}
 
header nav {
	float:right;
	line-height:50px;
}
 
header nav a {
	display:inline-block;
	color:#6A666A;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

#btn_cerSession {
    border: none;
    outline: none;
    display: inline-block;
    background-color: #252932;
    color: #6A666A;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
    #btn_cerSession:hover {
        background: #6DB52E;
    }

header nav a:hover {
    background: #6DB52E;
}

#contenido{
	padding-top: 80px;
}